*.iml

.idea/

*.ipr
*.iws

/out/

.idea_modules/

.gradle
build/

gradle-app.setting

gradle-wrapper.jar

.gradletasknamecache

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
